<div class="post-display">
  <h2>{{model.title}}</h2>
  <p>{{model.content}}</p>
  <img class="post-image" src="{{model.image}}"/>
  {{post-update post=model update="update"}}

  <button {{action 'delete' model}}>Delete</button>

  <div class="post-comments">
    {{#each model.comments as |comment|}}
      <p><em>{{comment.content}}</em> - {{comment.author}}</p>
    {{/each}}
      {{new-comment saveComment="saveComment" post=model}}

  </div>
</div>
